$base-width-pc: 1280;
$base-width-sp: 375;
$base-width-breakpoint: 767;
$base-width-breakpoint-max: $base-width-pc + 1;

$color-ffffff: #ffffff;
$color-000000: #000000;
$color-font-base: #707070;
$color-footer: #7CC3FF;
